<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.edu.bean.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday"/>
        <result column="c_id" property="cId" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="UserClassroomResultMap" type="com.edu.bean.User">
        <id column="uid" property="id" />
        <result column="user_name" property="userName" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday"/>
        <result column="c_id" property="cId" />
        <association property="classroom" javaType="com.edu.bean.Classroom">
            <id column="cid" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, gender, email, c_id
    </sql>
    <select id="selectUserClassroom" resultMap="UserClassroomResultMap">
        select *,user.id uid,c_id cid
        from user left join classroom
        on user.c_id=classroom.id
    </select>

</mapper>
